<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>1克拉-体验产品</title>
<link href="/borMall/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="/borMall/css/front/masterpage_n.css" rel="stylesheet" type="text/css" />
<link href="/borMall/css/front/experience_n.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/borMall/js/front/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/borMall/js/front/jq_experiment.js"></script>
<script type="text/javascript">
$(function(){
	$.fn.fullpage({
		verticalCentered: false
	});
});
</script>
<!--[if lte IE 8]> <script>(function(){var e="abbr,article,aside,audio,canvas,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(","),i=e.length;while(i--){document.createElement(e[i])}})();</script> <![endif]-->
</head>

<body>
<div id="Header">
	<div class="header">
		<div class="logo">
        	<img src="/borMall/css/front/images/logo.png" width="81" height="40" />
        </div>
	    <div class="nav">
	    	<ul>
	        	<li><a href="/borMall/views/front/index.html">首  页</a></li>
	            <li class="curror"><a href="/borMall/views/front/experience.html">体验产品</a></li>
	            <li><a href="/borMall/views/front/application.html">合作申请</a></li>
	        </ul>
	        <a href="/borMall/admin/welcome/index.do" class="m_account_login">管理账户登录</a>
	    </div>
	</div>
</div>
<div id="Contenter">
	<div class="contenter">
    	<div class="area_cont banner_cont">
        	<div class="banner_left">
                <img src="/borMall/css/front/images/1Client.png" width="574" />
                <div class="appStore_area">
                    <div class="btn_down btn_andr" onmouseover="btn_show(this)" onmouseout="btn_hide(this)">
                        <a class="btn_andriod"></a>
                        <span class="core_area">
                            <span class="core_top">
                                <img src="/borMall/css/front/images/an_cord.png" width="187" />
                            </span>
                        </span>
                    </div>
                    <div class="btn_down" onmouseover="btn_show(this)" onmouseout="btn_hide(this)">
                        <a class="btn_iphone"></a>
                        <span class="core_area">
                            <span class="core_top">
                                <img src="/borMall/css/front/images/ip_cord.png" width="187" />
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        	<ul>
            	<li>
                	<div class="img_area">
                        <img src="/borMall/css/front/images/ex_bg_img01.jpg" />
                    </div>
                    <div class="body_area">
                        <div class="banner_right">
                        	<img src="/borMall/css/front/images/tel02.png" width="411" />
                        </div>
                    </div>
                </li>
                <li>
                	<div class="img_area">
                        <img src="/borMall/css/front/images/ex_bg_img02.jpg" />
                    </div>
                    <div class="body_area">
                        <div class="banner_right">
                        	<img src="/borMall/css/front/images/tel01.png" width="411" />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="area_cont Ex_area02" id="Ex_area02">
            <div class="body_font_area">
            	<div class="main_summary">
                	<h3><img src="/borMall/css/front/images/1jminiStore.png" width="337" height="80" /></h3>
                    <div class="m_s_body">
                    	<span class="m_s_b_left">
                        	<img src="/borMall/css/front/images/ex_images15.jpg" width="516" height="474"/>
                            <i class="mini01"><img src="/borMall/css/front/images/brandArea_img.png" width="176" /></i>
                            <i class="mini02"><img src="/borMall/css/front/images/b.png" width="154" /></i>
                            <i class="mini03"><img src="/borMall/css/front/images/Terminalextensionproducts.png" width="135" /></i>
                            <i class="mini04"><img src="/borMall/css/front/images/core_img.png" width="122" /></i>
                        </span>
                        <span class="m_s_b_right">
                        	<span class="brand_01"><img src="/borMall/css/front/images/ex_images14.jpg" width="120"/><i class="mini05"><img src="/borMall/css/front/images/a.png" width="154" /></i></span>
                            <span class="brand_02"><img src="/borMall/css/front/images/ex_images16.jpg" width="240"/><i class="mini06"><img src="/borMall/css/front/images/c.png" width="154" /></i></span>
                            <span class="brand_03"><img src="/borMall/css/front/images/ex_images17.jpg" width="198"/><i class="mini07"><img src="/borMall/css/front/images/d.png" width="154" /></i></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="area_cont Ex_area03" id="Ex_area03">
            <div class="body_font_area">
            	<span class="shoppingPro_left">
                	<ul>
                    	<li><img src="/borMall/css/front/images/step03Ex_images01.jpg" width="212" height="376" /></li>
                        <li><img src="/borMall/css/front/images/step03Ex_images02.jpg" width="212" height="376" /></li>
                        <li><img src="/borMall/css/front/images/step03Ex_images03.jpg" width="212" height="376" /></li>
                        <li><img src="/borMall/css/front/images/step03Ex_images04.jpg" width="212" height="376" /></li>
                        <li><img src="/borMall/css/front/images/step03Ex_images05.jpg" width="212" height="376" /></li>
                    </ul>
                </span>
                <div class="shoppingPro_right">
                	<a class="shopping_step01 high_img" onmousemove="step_shop(0, this)"></a>
                    <a class="shopping_step02" onmousemove="step_shop(1, this)"></a>
                    <a class="shopping_step03" onmousemove="step_shop(2, this)"></a>
                    <a class="shopping_step04" onmousemove="step_shop(3, this)"></a>
                    <a class="shopping_step05" onmousemove="step_shop(4, this)"></a>
                    <i class="icon01"><img src="/borMall/css/front/images/line01.png" width="35" height="22" /></i>
                    <i class="icon02"><img src="/borMall/css/front/images/line01.png" width="35" height="22" /></i>
                    <i class="icon03"><img src="/borMall/css/front/images/line02.png" width="35" height="22" /></i>
                    <i class="icon04"><img src="/borMall/css/front/images/line02.png" width="35" height="22" /></i>
                    <i class="icon05"><img src="/borMall/css/front/images/proIntro.png" width="213" /></i>
                </div>
            </div>
        </div>
        <div class="area_cont Ex_area02" id="Ex_area04">
            <div class="body_font_area">
            	<h3><img src="/borMall/css/front/images/iamges_font_ex01.png" width="213" /></h3>
                <div class="mac_area">
                	<ul>
                    	<li><img src="/borMall/css/front/images/hotel_page01.jpg" width="601" /></li>
                        <li><img src="/borMall/css/front/images/hotel_page02.jpg" width="601" /></li>
                        <li><img src="/borMall/css/front/images/hotel_page03.jpg" width="601" /></li>
                        <li><img src="/borMall/css/front/images/hotel_page04.jpg" width="601" /></li>
                    </ul>
                </div>
                <div class="mark_hotel">
                	<a class="m_h_01 high_mark" onmousemove="mark_hotel_show(0, this)"></a>
                    <a class="m_h_02" onmousemove="mark_hotel_show(1, this)"></a>
                    <a class="m_h_03" onmousemove="mark_hotel_show(2, this)"></a>
                    <a class="m_h_04" onmousemove="mark_hotel_show(3, this)"></a>
                </div>
            </div>
        </div>
        <div class="area_cont Ex_area05" id="Ex_area05">
            <div class="body_font_area">
            	<div class="ex_area05_left">
                	<h3><img src="/borMall/css/front/images/font_supply.png" width="249" /></h3>
                    <span class="mac_area_ex05">
                    	<ul>
                        	<li><img src="/borMall/css/front/images/supply_page01.jpg" width="601" /></li>
                            <li><img src="/borMall/css/front/images/supply_page02.jpg" width="601" /></li>
                            <li><img src="/borMall/css/front/images/supply_page03.jpg" width="601" /></li>
                            <li><img src="/borMall/css/front/images/supply_page04.jpg" width="601" /></li>
                            <li><img src="/borMall/css/front/images/supply_page05.jpg" width="601" /></li>
                        </ul>
                    </span>
                </div>
                <div class="ex_area05_right">
                	<a class="m_s_01 animated high_supply" onmousemove="mark_supply_show(0, this)"></a>
                    <a class="m_s_02 animated" onmousemove="mark_supply_show(1, this)"></a>
                    <a class="m_s_03 animated" onmousemove="mark_supply_show(2, this)"></a>
                    <a class="m_s_04 animated" onmousemove="mark_supply_show(3, this)"></a>
                    <a class="m_s_05 animated" onmousemove="mark_supply_show(4, this)"></a>
                </div>
            </div>
        </div>
        <Footer id="Footer">
    	<div class="meun">
        	<h3 class="contactUs_title">联系我们</h3>
            <ul class="meun_list">
            	<li class="width280"><span class="menu_title width70">酒店合作</span>borabora@atbora.com</li>
                <li class="width294"><span class="menu_title">公司地址</span>西湖区古墩路673号瑞博国际B-1101</li>
                <li class="width280"><span class="menu_title">供应商合作</span>lijian@atbora.com</li>
                <li class="width294"><span class="menu_title">联系电话</span>0571-89714842</li>
            </ul>
            <span class="micro_channel"><img src="/borMall/css/front/images/images15.png" width="170" height="80" /></span>
        </div>
        <div class="copyright"><span class="copyright_main">Copyright©2011-2013　杭州波拉波拉网络科技有限公司　　<i class="color999">浙ICP备12034659号-2</i></span></div>
	</Footer>
	</div>
    <div id="Coin">
    	<ul>
        	<li class="curror" onclick="setPage(0)"><i class="cion01"><img src="/borMall/css/front/images/curron_off.png" /></i><i class="cion02"><img src="/borMall/css/front/images/curron_on.png" /></i></li>
            <li onclick="setPage(1)"><i class="cion01"><img src="/borMall/css/front/images/curron_off.png" /></i><i class="cion02"><img src="/borMall/css/front/images/curron_on.png" /></i></li>
            <li onclick="setPage(2)"><i class="cion01"><img src="/borMall/css/front/images/curron_off.png" /></i><i class="cion02"><img src="/borMall/css/front/images/curron_on.png" /></i></li>
            <li onclick="setPage(3)"><i class="cion01"><img src="/borMall/css/front/images/curron_off.png" /></i><i class="cion02"><img src="/borMall/css/front/images/curron_on.png" /></i></li>
            <li onclick="setPage(4)"><i class="cion01"><img src="/borMall/css/front/images/curron_off.png" /></i><i class="cion02"><img src="/borMall/css/front/images/curron_on.png" /></i></li>
        </ul>
    </div>
</div>
</body>
</html>
