<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>1克拉-体验式电商平台</title>
<link href="/borMall/css/front/masterPage.css" rel="stylesheet" type="text/css" />
<link href="/borMall/css/front/index.css" rel="stylesheet" type="text/css" />
<link href="/borMall/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<script type="text/javascript" src="/borMall/js/front/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/borMall/js/front/js_home.js"></script>
</head>

<body>
<div id="Header">
	<div class="logo"><span class="null_logo"></span><img src="/borMall/css/front/images/logo.png" width="126" height="60" /></div>
    <div class="nav">
    	<ul>
        	<li><a href="#" class="currseThis">首页</a></li>
            <li><a href="/borMall/views/front/experience.html">体验产品</a></li>
            <li><a href="/borMall/views/front/application.html">合作申请</a></li>
            <li><a href="/borMall/admin/welcome/index.do" class="currse_nav">管理账号登录</a></li>
        </ul>
    </div>
</div>
<div id="Contenter">
	<div class="layer_top">
        <div class="cont_box cont_box_1">
        	<div id="Banner">
            	<div class="banner_bottom"><img src="/borMall/css/front/images/J_index_banner.jpg" width="100%"/></div>
                <div class="wrapper_banner">
                    <div class="wp_font">
                        <div class="wp_font_layer">
                            <ul>
                                <li>
                                    <p><img src="/borMall/css/front/images/banner_img01.png" width="100%" /></p>
                                </li>
                                <li>
                                    <p><img src="/borMall/css/front/images/banner_img02.png" width="100%" /></p>
                                </li>
                                <li>
                                    <p class="btn_area">
                                        <img src="/borMall/css/front/images/banner_img03.png" width="100%" />
                                        <div class="ban_btn">
                                            <div class="iphone">
                                                <table cellpadding="0" cellspacing="0" width="100%" height="100%">
                                                	<tr>
                                                    	<td><img src="/borMall/css/front/images/btn01.png" width="100%" /></td>
                                                    </tr>
                                                </table>
                                                <span class="code_area_box">
                                                	<span class="paddingTop10">
                                                    	<span class="code_img">
                                                            <img src="/borMall/css/front/images/code_bottom.png" width="100%" />
                                                            <span class="put_area">
                                                                <img src="/borMall/css/front/images/code_img_ip.png" width="87" height="87px" />
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="android">
                                            	<table cellpadding="0" cellspacing="0" width="100%" height="100%">
                                                	<tr>
                                                    	<td><img src="/borMall/css/front/images/btn02.png" width="100%" /></td>
                                                    </tr>
                                                </table>
                                                <span class="code_area_box">
                                                	<span class="paddingTop10">
                                                    	<span class="code_img">
                                                            <img src="/borMall/css/front/images/code_bottom.png" width="100%" />
                                                            <span class="put_area">
                                                                <img src="/borMall/css/front/images/code_img_an.png" width="87" height="87px" />
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </p>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="wp_img">
                    	<div class="wp_bottom"><img src="/borMall/css/front/images/image_tel.png" width="100%" height="100%"/></div>
                        <div class="wp_img_layer">
                            <ul>
                                <li class="cont_box_01"><img src="/borMall/css/front/images/J_tel_in_img01.jpg" width="100%" height="100%" /></li>
                                <li class="cont_box_02"><img src="/borMall/css/front/images/tel_in_img02.png" width="100%" height="100%" /></li>
                                <li class="cont_box_03"><img src="/borMall/css/front/images/tel_in_img03.png" width="100%" height="100%" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="wp_coin">
                    <li class="wp_currse"><a></a></li>
                    <li><a></a></li>
                    <li><a></a></li>
                </ul>
        </div>
        </div>
        <div class="cont_box_2">
        	<span class="cont_02_left ver_mid">
            	<img src="/borMall/css/front/images/image04.png" width="100%" height="100%" />
            </span>
            <span class="cont_02_right ver_mid">
            	<p class="title_header"><img src="/borMall/css/front/images/image01.png" /></p>
                <p>1克拉体验式电商平台，帮助酒店与供应商用整合资源和渠道。借助移动电商的方式与技术，让购物更为便捷和轻决策。</p>
                <p><b>"先体验，再支付"</b>的理念，改变传统电商"看图"购物的消费行为，
                创新的使用offline-online-offline模式，酒店作为消费场所和载体，可以给客户提供优质的商品及服务。对于酒店和供应商的品牌是强有力的延伸。</p>
                </p>
            </span>
        </div>
        <div class="cont_box cont_box_3">
        	<span class="cont_03_left ver_mid">
            	<p class="title_header"><img src="/borMall/css/front/images/image03.png"/></p>
                <ul>
                	<li><img src="/borMall/css/front/images/icon7.png" />帮助酒店对接更多优质供应商资源</li>
                    <li><img src="/borMall/css/front/images/icon6.png" />增加酒店优质商品和服务种类</li>
                    <li><img src="/borMall/css/front/images/icon5.png" />提升用户在酒店内体验</li>
                    <li><img src="/borMall/css/front/images/icon4.png" />增加酒店品牌影响力</li>
                </ul>
            </span>
            <span class="cont_03_null ver_mid"></span>
            <span class="cont_03_right ver_mid">
            	<img src="/borMall/css/front/images/image06.png" width="100%" height="100%"  />
            </span>
            <div class="clear"></div>
        </div>
        <div class="cont_box cont_box_4">
        	<span class="cont_04_left ver_mid">
            	<img src="/borMall/css/front/images/image05.png" width="100%" height="100%"  />
            </span>
            <span class="cont_05_right ver_mid">
            	<p class="title_header"><img src="/borMall/css/front//images/image02.png"/></p>
                <ul>
                	<li><img src="/borMall/css/front/images/icon2.png" />帮助供应商对接更多酒店资源</li>
                    <li><img src="/borMall/css/front/images/icon3.png" />拓展供应商线下销售渠道</li>
                    <li><img src="/borMall/css/front/images/icon1.png" />供应商原有酒店渠道最大化利用</li>
                    <li><img src="/borMall/css/front/images/icon4.png" />增加供应商品牌影响力</li>
                </ul>
            </span>
        </div>
    </div>
</div>
<div id="Footer">
	<h1 class="contact_icon"><img src="/borMall/css/front/images/contact_img.png" width="221" height="38" /></h1>
    <div class="menu">
    	<div class="list_menu_l">
        	<span class="l_m_l">
            	<p><label class="l_m_l106">酒店合作</label>borabora@atbora.com</p>
                <p><label class="l_m_l106">供应商合作</label>lijian@atbora.com</p>
            </span>
            <span class="l_m_r">
            	<p><label class="l_m_88">联系电话</label>0571-89714842</p>
                <p><label class="l_m_88">公司地址</label>杭州西湖区古墩路673号瑞博国际B-1101</p>
            </span>
            <div class="clear"></div>
        </div>
        <div class="code_menu_r">
        	<span class="code_bora"><img src="/borMall/css/front/images/code_img.png" width="93" height="93" /></span>
            <span class="code_name">微信公共账号</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="copyright">copyright @2014 杭州波拉波拉网络科技有限公司　浙ICP备12034659号-2</div>
</div>
</body>
</html>
