<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>1克拉-体验式电商平台</title>
<link href="/borMall/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="/borMall/css/front/masterpage_n.css" rel="stylesheet" type="text/css" />
<link href="/borMall/css/front/index_n.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/borMall/js/front/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/borMall/js/front/jq_index.js"></script>
<script type="text/javascript">
$(function(){

		$.fn.fullpage({
			verticalCentered: false
		});

});
</script>
<!--[if lte IE 8]> <script>(function(){var e="abbr,article,aside,audio,canvas,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video".split(","),i=e.length;while(i--){document.createElement(e[i])}})();</script> <![endif]-->
</head>

<body>
<Header id="Header">
	<div class="header">
    	<div class="logo">
        	<img src="/borMall/css/front/images/logo.png" width="81" height="40" />
        </div>
        <nav class="nav">
        	<ul>
            	<li class="curror"><a href="/borMall/views/front/index.html">首  页</a></li>
                <li><a href="/borMall/views/front/experience.html">体验产品</a></li>
                <li><a href="/borMall/views/front/application.html">合作申请</a></li>
            </ul>
            <a href="/borMall/admin/welcome/index.do" class="m_account_login">管理账户登录</a>
        </nav>
        <div class="clear"></div>
    </div>
</Header>
<div id="Contenter">
	<div class="contenter">
    	<div class="area_cont">
        	<div class="img_area">
        		<img src="/borMall/css/front/images/bg_img01.jpg" />
            </div>
            <div class="body_area">
            	<span class="hotel_smart"><img src="/borMall/css/front/images/images055.png" width="620" /></span>
            	<div class="hotel_model">
                	<img src="/borMall/css/front/images/IPhone5c.png" width="680"/>
                	<div class="banner_img">
                        <ul>
                            <li><img src="/borMall/css/front/images/IPhone5c_03.jpg" width="243" height="432" /></li>
                            <li><img src="/borMall/css/front/images/banner01.jpg" width="243" height="432" /></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="area_cont" id="area02">
        	<div class="img_area">
        		<img src="/borMall/css/front/images/bg_img02.jpg"/>
            </div>
            <div class="body_font_area">
            	<div class="cont_title">
                	<span class="c_t_left"><img src="/borMall/css/front/images/images03.png" width="187"/></span>
                    <span class="c_t_right"><img src="/borMall/css/front/images/images06.png" width="447"/></span>
                </div>
                <div class="cont_summary">
                	<img src="/borMall/css/front/images/images16.png" width="958"/>
                    <span id="Images16_font"><img src="/borMall/css/front/images/images16_font.png" width="974"/></span>
                </div>
            </div>
        </div>
        <div class="area_cont" id="area03">
        	<div class="img_area">
        		<img src="/borMall/css/front/images/bg_img03.jpg" />
            </div>
            <div class="body_font_area">
            	<div class="cont_title">
                	<span class="c_t_left"><img src="/borMall/css/front/images/images02.png" width="236" /></span>
                    <span class="c_t_right"><img src="/borMall/css/front/images/images07.png" width="444"/></span>
                </div>
                <div class="cont_summary">
                	<img src="/borMall/css/front/images/images17.png" width="1160"/>
                    <span id="Images17_font"><img src="/borMall/css/front/images/images17_font.png" width="1007"/></span>
                </div>
            </div>
        </div>
        <Footer id="Footer">
    	<div class="meun">
        	<h3 class="contactUs_title">联系我们</h3>
            <ul class="meun_list">
            	<li class="width280"><span class="menu_title width70">酒店合作</span>borabora@atbora.com</li>
                <li class="width294"><span class="menu_title">公司地址</span>西湖区古墩路673号瑞博国际B-1101</li>
                <li class="width280"><span class="menu_title">供应商合作</span>lijian@atbora.com</li>
                <li class="width294"><span class="menu_title">联系电话</span>0571-89714842</li>
            </ul>
            <span class="micro_channel"><img src="/borMall/css/front/images/images15.png" width="170" height="80" /></span>
        </div>
        <div class="copyright"><span class="copyright_main">Copyright©2011-2013　杭州波拉波拉网络科技有限公司　　<i class="color999">浙ICP备12034659号-2</i></span></div>
	</Footer>
	</div>
    <div id="Coin">
    	<ul>
        	<li class="curror" onclick="setPage(0)"><i class="cion01"><img src="/borMall/css/front/images/curron_off.png" /></i><i class="cion02"><img src="/borMall/css/front/images/curron_on.png" /></i></li>
            <li onclick="setPage(1)"><i class="cion01"><img src="/borMall/css/front/images/curron_off.png" /></i><i class="cion02"><img src="/borMall/css/front/images/curron_on.png" /></i></li>
            <li onclick="setPage(2)"><i class="cion01"><img src="/borMall/css/front/images/curron_off.png" /></i><i class="cion02"><img src="/borMall/css/front/images/curron_on.png" /></i></li>
        </ul>
    </div>
</div>
</body>
</html>
