.pro_name02{ width:180px;}
.pro_name03{ width:399px;}
.return{ float:right; background:url(images/return_icon.png) no-repeat 0 center; padding-left:13px; font-weight:lighter}
.hotel_left{ padding-top:7px;}
.hotel_right{ padding-bottom:9px;}