*{ margin:0; padding:0;}
ul, li{ list-style-type:none;}
cite, i{ font-style:normal;}
a{ color:#777; text-decoration:none;}
a img, img{ border:none}
h1, h2, h3, h4, h5{ font-weight:normal;}
h1{ font-size:20px;}
h2{ font-size:18px;}
h3{ font-size:16px;}
h4{ font-size:14px;}
h5{ font-size:12px;}
body{ font-family:"Microsoft YaHei", "SimSun", "SimHei", arial; font-size:16px; min-width:1024px; min-height:768px; overflow-x:auto;}
.clear{ clear:both;}
/* header */
/*#Header{ height:85px; border-bottom:1px solid #e4e4e4; background-color:#fff; width:100%; min-width:1024px; position:fixed; left:0; top:0; z-index:100}
.logo{ float:left; padding:12px 0 0 57px;}
.logo .null_logo{ height:85px; width:1px; vertical-align:middle;}
.logo img{ vertical-align:middle;}
.nav{ padding-top:20px; float:right; padding-right:9%; height:48px;}
.nav ul li{ float:left; padding:0 21px; height:48px; line-height:48px; font-size:18px; font-size:18px;}
.nav ul li:last-child{ padding-right:0;}
.nav ul li a{ color:#777; padding:12px 15px; line-height:25px; height:24px; float:left; line-height:24px;}
.nav ul li a:active, .nav ul li a:hover, .nav ul li a.currseThis{ color:#3db3f2;}*/

/* new Header */
#Header{ z-index:3; width:100%; height:80px; border-bottom:1px solid #cecece; position:fixed; left:0; top:0; background:url(images/bg_header.png) repeat;}
.header{ max-width:1120px; margin:20px auto;}
.logo{ float:left;}
.nav{ float:right; height:40px; line-height:40px;}
.nav ul, .m_account_login{ float:left;}
.m_account_login{ width:140px; height:40px; text-align:center; background-color:#5abef4; color:#fff; border-radius:3px;}
.m_account_login:hover, .m_account_login:active{ background-color:#3db3f2;}
.nav ul li{ float:left; padding-right:60px; color:#666;}
.nav ul li.curror a, .nav ul li a:active, .nav ul li a:hover, .nav ul li a.currseThis{ color:#3db3f2;}
.nav ul li a.currse_nav{ background-color:#3db3f2; border-radius:3px; color:#fff; width:140px; height:40px; text-align:center; float:left}
.nav ul li a.currse_nav:hover{ color:#fff; background-color:#5abef4;}
.nav ul li a.currse_nav:active{ background-color:#5abef4;}

/* Footer */
#Footer{background-color:#508db5; height:283px; clear:both; padding-top:59px; float:left; width:100%;}
.contact_icon{ text-align:center; height:38px; width:100%; padding-bottom:41px;}
.menu{ width:1024px; margin:0 auto; color:#fff; font-size:18px; min-width:1024px; font-size:16px; line-height:28px;}
.list_menu_l{ float:left; width:925px; padding-top:20px;}
.l_m_l{ width: 423px; float:left}
.l_m_l label{ width:106px; float:left}
.l_m_r{ width:502px; float:left;}
.l_m_r label{ width:88px; float:left}
.code_menu_r{ float:right; width:97px;}


.code_menu_r .code_bora{ width:93px; height:93px; padding:2px; background-color:#fff; border-radius:2px; display:block}
.code_name{ width:100%; text-align:center; padding-top:6px; display:block}
.copyright{ clear:both; padding-top:20px; color:#6fa9cc; font-size:14px; text-align:center}
